    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <h2>About satPerf</h2>
            <div class="col-lg-8 col-lg-offset-2">

                <p> SpaceX’s Starlink, OneWeb, Amazon Kuiper and many others are sending thousands small satellites in Low Earth Orbit (LEO) to offer very low latency, high capacity global broadband coverage. </p>

                <p> Despite these promises, an in-depth study on the performance of these LEO satellite mega-constellations is still missing. In this project, we will conduct a user-centralized measurement campaign to assess and evaluate the performance of SpaceX’s Starlink broadband service. </p>

                <p> Interested participants are encouraged to download the extension from here and contribute to the research study </p>

            </div>
        </div>


        <div id="container">
            <h2>Features</h2>
            <div>
              <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
              <h3>Download and Upload Speeds</h3>
            </div>
            <div>
              <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
              <h3>Webpage Load time for any active browser tab</h3>
            </div>
            <div>
              <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
              <h3>Measure performance of top webpages</h3>
            </div>
            <div>
              <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
              <h3>Compare your connection performance with others</h3>
            </div>
            <span></span>
        </div>
    </section>
